<h1><%= @student.to_s %></h1>

<form action="/students/<%= @student.id %>/activate" method="get">
  <input type="hidden" name="active" value="<%= @student.active ? true : false %>">

  <% if @student.active == true %>
    <h2>This student is currently active.</h2>
    <input type="submit" value="Make Inactive">
  <% else %>
    <h2>This student is currently inactive.</h2>
    <input type="submit" value="Make Active">
  <% end %>

</form>